<html>
  <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Yahboom Transbot Video</title>
    <style>
      body, html {
          margin: 0;
          padding: 0;
          height: 100%;
          width: 100%;
          overflow: hidden;
      }
      img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
      }
  </style>
  </head>
  <body>
    <img src="{{ url_for('video_feed') }}" width="720">
  </body>
</html>
